.TodoList {
  padding: 16px;
}

.TodoListFormControl {
  margin-bottom: 16px;
}

.TodoListFormControl label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.TodoListFormControl input {
  padding: 8px;
}
